@font-face {
    font-family: 'PotatoChips';
    src: url('resources/PotatoChips.ttf');
}

body {
background-color:#f3d4b4
}

.logo-container {
display:flex;
justify-content:center;
align-items:center
}

.logo-container img {
max-width:30%;
height:auto
}

.calculator {
border:2px solid #7d5e34;
padding:10px;
margin:0 auto;
margin-bottom:20px;
width:300px;
text-align:center;
background-color:#f5e5d5
}

.box {
    background-color:antiquewhite;
    border: 1px solid antiquewhite;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
text-align:center;
color:#7d5e34;
font-family:'PotatoChips',sans-serif;
font-size:56px
}

h2 {
text-align:center;
color:#7d5e34;
font-size:36px;
font-family:'PotatoChips',sans-serif
}

h2.underline {
text-decoration:underline
}

h3 {
text-align:center;
color:#7d5e34;
font-size:20px;
font-family:'PotatoChips',sans-serif
}

h3.underline {
text-decoration:underline
}

ul {
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:#7d5e34;
font-family:'PotatoChips',sans-serif
}

.footer {
display:flex;
justify-content:center;
align-items:center;
background-color:#7d5e34;
color:#fff;
height:30px;
width:100%;
font-family:'PotatoChips',sans-serif;
position:relative;
clear:both
}

li {
float:left
}

li a {
display:block;
color:#fff;
text-align:center;
padding:14px 16px;
text-decoration:none
}

.banner1 {
background-image:url(resources/banner.jpg);
background-repeat:no-repeat;
background-size:cover;
height:300px;
position:relative
}

.banner2 {
background-image:url(resources/banner2.jpg);
background-repeat:no-repeat;
background-size:cover;
height:300px;
position:relative;
padding-top:5%
}

.slideshow {
position:relative;
max-width:100%
}

.mySlides {
position:absolute;
top:0;
left:0;
opacity:0;
width:100%;
height:350px;
object-fit:cover;
transition:opacity 1s ease-in-out
}

.mySlides.active {
opacity:1
}

.banner-text {
position:absolute;
bottom:10%;
left:2.5%;
background-color:#f3d4b4;
padding:10px;
border:1px solid #7d5e34
}

li a:hover {
background-color:#111
}

button {
background-color:#7d5e34;
color:#f5e5d5;
border:none;
padding:8px 16px;
text-align:center;
font-size:16px;
margin-top:10px;
cursor:pointer
}

button:hover {
background-color:#3d352d;
color:#fff
}

input[type="number"] {
padding:8px;
margin:8px 0;
box-sizing:border-box;
border:none;
border-bottom:2px solid #7d5e34
}